:host {
	all: initial;
}

// p, a, span, i, b, select, option, blockquote, em, strong, 
// div, section, header, footer, table, tr, th, td, ul, ul > li {
* {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

h4 {
	font-size: 14px;
}

p {
	margin: 15px 0;
}

svg[data-prefix="fas"] {
	margin: 0 auto;
	width: 16px;
}

#shorebirds-map {
	height: 600px;
	width: 100%;

	// things that WP will sometimes override
	.leaflet-bar a, .leaflet-bar a:hover,
	.leaflet-popup-close-button {
		text-decoration: none;
	}
}

// Bird icon sizes/styles
.bird-icon {
	height: 18px;
	width: 18px;
}

.species-active {
	filter: drop-shadow(2px 3px 3px rgba(0,0,0,0.6));
	height: 25px !important;
	width: 25px !important;
	z-index: 999 !important;
}

//volume slider and mute
.volume-control {
	background-color: white;
	max-width: 30px;
	width: 30px;

	.volume-mute {
		// color: grey;
		display: flex;
		align-items: center;
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;

		svg.fa-volume-down {
			width: 11px;
		}
	}

	input[type=range] {
		border: 0;
		margin: 0 auto;
		margin-bottom: 10px;
		padding: 0;
		height: 100px;
		width: 100%;

		-webkit-appearance: slider-vertical;
	}	
}

.leaflet-control-messagebox {
	background-color: white;
	max-width: 120px;
	padding: 8px;

	&.sounds-loaded-hide {
		animation: fadeout 5s;
		animation-fill-mode: forwards;
	}

	@keyframes fadeout {
		0% {
			opacity: 1;
		}
		70% {
			opacity: 1;
		}
		100% {
			display: none;
			opacity: 0;
		}
	}
}

.leaflet-control-defaultextent-toggle {
	display: flex;
}

.clear {
	clear: both;
	display: table;
}


