.birdPopup {
	// max-width: 600px;
	.birdName {
		// font-size: 1.3em;
		// margin-bottom: 0;
	}

	.birdImage {
		// float: left;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 1.5em;
		margin-top: 0;
		max-width: 100%;
		text-align: center;
		width: 100%;

		img {
			border-radius: 2%;
			max-width: 200px;
			width: 100%;
		}
	}

	.popIconWrap {
		display: inline-block;
		margin-right: 10px;
		text-align: center;
		width: 16px;
		
		svg.fa-info {
			width: 5.5px;
		}
		svg.fa-map-marker-alt {
			width: 10px;
		}
	}

	ul {
		list-style-type: none;
		margin-bottom: 1.5em;
		padding-left: 0;

		li {
			margin-bottom: 0.5em;
		}
	}

	.openInfo:hover {
		background-color: aliceblue;
		cursor: pointer;
	}
}