#shorebirds-container {

	#sidebar.leaflet-sidebar {
		box-sizing: content-box;
	}

	h1.leaflet-sidebar-header::before {
		display: none;
		content: "";
	}

	.leaflet-sidebar-tabs .fas,
	.leaflet-sidebar-tabs .fa,
	.leaflet-sidebar-close .fa {
		line-height: 40px;
	}

	table {
		border-collapse: collapse;
		font-size: inherit;
		margin: 0;

		&, td, th {
			border: 1px solid grey;	
		}

		td, th {
			font-size: inherit;
			padding: 3px 4px;
			text-align: left;
		}
		th {
			font-size: 12px;
		}

	}

	#shorebirds-side-home {
		h4 {
			float: left;
			margin: 0;
			margin-bottom: 1.4em;
			width: 4em;
		}
	}

}

