// species table in the per-day chart
#shorebirds-pop-table {
	#bird-table {
		.bird-shade {
			border: 0px solid transparent;
		}

		tbody tr:hover {
			background-color: aliceblue;
			cursor: pointer;
		}

		tbody tr.row-active {
			background-color: #c2dbf0;
		}
	}

	.pop-desc {
		margin-bottom: 2em;
		
		ul {
			padding-left: 2em;
		}	
	}
	
}