// species table in the per-day chart
#shorebirds-pop-table {
	#bird-table {
		margin: 2em 0;
		width: 96%;

		.bird-shade {
			border: 0px solid transparent;
		}

		tbody tr {
			position: relative;
			
			.magnify {
				display: none;
				margin: 0.3em 0;
				opacity: 0;
				right: -5%;
				position: absolute;
			}

			.magnify svg[data-prefix=fas] {
				width: 10px;
			}
		}

		tbody tr:hover {
			background-color: aliceblue;
			cursor: pointer;

			.magnify {
				color: grey;
				display: block;
				opacity: 1;
			}
		}

		tbody tr.row-active {
			background-color: #c2dbf0;
			position: relative;

			.magnify {
				color: black;
				display: block;
				opacity: 1;
			}
		}

		thead th {
			font-weight: bold;
		}

		thead th:hover {
			position: relative;

			.tooltiptext {
				background-color: white;
				border: 2px solid rgba(0,0,0,0.3);
				border-radius: 3px;
				bottom: 130%;
				display: block;
				line-height: 1.15;
				padding: 7px;
				position: absolute;
				width: 200px;
			}
		}

		.tooltiptext {
			display: none;
		}

		thead th:nth-of-type(1) .tooltiptext {
			left: 0%;
		}
		thead th:nth-of-type(2) .tooltiptext {
			left: -120%;
		}
		thead th:nth-of-type(3) .tooltiptext {
			left: -140%;
		}
		thead th:nth-of-type(4) .tooltiptext, {
			right: -60%;
		}
		thead th:nth-of-type(5) .tooltiptext {
			right: 0%;
		}
	}

	.pop-desc {
		margin-bottom: 2em;
		
		ul {
			padding-left: 2em;
		}	
	}

	.link-away svg {
		width: 11px;
	}
	
	strong {
		font-weight: bold;
	}
}