body {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#map {
	height: 500px;
	width: 700px;
}

.bird-icon {
	height: 18px;
	width: 18px;
}

.birdPopup {
	// max-width: 600px;
	.birdName {
		font-size: 1.3em;
		margin-bottom: 0;
	}

	.birdImage {
		float: left;
		margin-right: 2em;
		// margin-top: 2px;
		max-width: 120px;
		width: 120px;

		img {
			max-width: 120px;
			width: 120px;
		}
	}
}


.leaflet-sidebar .fas,
.leaflet-sidebar .fa {
	line-height: 40px;
}